* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 24px;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  min-width: 548px;
}

#header {
  position: fixed;
}

#header-img {
  position: fixed;
  height: 50px;
}
#body-img {
  width: 100%;
}

#review-vid {
  display: flex;
}

#introduction {
  margin-top: 180px;
}

/* The navbar */
.topnav {
  position: fixed;
  right: 1rem;
}

/* Navbar links */
.topnav a {
  float: right;
  color: black;
  padding: 0 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  min-height: 400px;
  min-width: 530px;
}

header {
  font-size: 4rem;
}

.section-header {
  width: 100%;
  font-size: 2rem;
  padding: 10vh 0;
}

.section-subheader {
  display: block;
  font-size: 2rem;
}

#testimonies {
  display: flex;
}

.testimony {
  width: 100%;
  padding: 0 2vh;
}

.buyoption {
  display: block;
  min-height: 180px;
}

.signature {
  float: right;
  padding: 1.8rem;
}

#features-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.features-col {
  width: 100%;
  padding: 3vh;
}

#features-header {
  display: flex;
  font-size: 3rem;
}

#reviews {
  display: block;
}

#buy {
  display: block;
}

#video-header {
  padding-right: 10vh;
  text-align: left;
}

.product_img {
  width:60%;
}

#options {
  margin-top:50px;
  display: flex;
  width: 100%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Position the navbar container inside the image */

.container {
  position: absolute;
  margin: 1.2rem;
  width: auto;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy-option {
  position:relative;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width:100%;
}


.buybutton {
  height: 54px;
  min-width: 60px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 9px 20px;
  overflow: hidden;
  border: 1px solid;
  font: normal 19px/1 "Acme", Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  
}

.buybutton:active {
  margin: 3px 0 0 3px;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
}

.flabel {
  display: inline-block;
  width: 200px;
  padding-right: 30px;
}

.finput {
  display: inline-block;
  width: 300px;
  font-size: 1rem;
}

td {
  vertical-align: top;
}

#contact {
  display: block;
}

#contact-form {
  display: inline-block;
}

#sendit {
  position: relative;
  top: 20px;
}

footer {
  padding-top: 5rem;
  font-size: 1rem;
}

@media screen and (max-width: 850px) {
  :root {
      font-size: 12px;
  }

  .finput {
    display: inline-block;
    width: 180px;
    font-size: 1rem;
  }
}